@font-face {
  font-family: 'Gilroy';
  src: local("Gilroy-Bold"), url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Gilroy';
  src: local("Gilroy-Regular"), url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Gilroy';
  src: local("Gilroy-Medium"), url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Montserrat';
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Inter';
  src: local("Inter Regular"), local("Inter-Regular"), url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Montserrat';
  src: local("Montserrat Medium"), local("Montserrat-Medium"), url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

.list {
  list-style: none;
  margin: 0;
  padding: 0; }

.text {
  margin: 0;
  font-family: "Gilroy";
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: #000000; }
  .text_size_s {
    font-size: 18px;
    line-height: 23px; }
  .text_size_m {
    font-size: 22px;
    line-height: 29px; }
  .text_type_subtitle {
    color: #616060; }

.title {
  font-family: "Gilroy";
  margin: 0;
  font-weight: 700;
  font-size: 50px;
  line-height: 65px;
  text-transform: uppercase;
  color: #1B2238; }
  .title_pos_center {
    text-align: center; }
  .title_size_s {
    font-size: 25px;
    line-height: 32px; }
  .title_size_m {
    font-size: 30px;
    line-height: 35px; }
  .title_size_l {
    font-size: 50px;
    line-height: 60px; }
  .title_size_xl {
    font-size: 55px;
    line-height: 71px; }
  .title_theme_main {
    color: #FDFDFD; }
  .title_theme_call {
    color: #ffffff; }
  .title_type_middle {
    font-weight: 500;
    text-transform: none; }
  .title_theme_questions {
    color: #12748A; }
  .title_type_emphasis {
    color: #F85656; }
  .title_type_less {
    color: #ffffff;
    font-weight: 400;
    text-transform: none; }

.button {
  border: none;
  background: inherit;
  color: #ffffff;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  padding: 0;
  cursor: pointer; }
  .button_location_menu {
    padding: 10px;
    min-height: 56px;
    min-width: 219px;
    background: #F85656; }
  .button_location_offer {
    background: #ffffff;
    color: #242B40;
    padding: 10px;
    min-width: 219px;
    min-height: 56px;
    text-transform: uppercase; }
  .button_location_form {
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    padding: 16px;
    background: #ffffff;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 1px solid #ffffff;
    color: #006A81; }

.input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  border-radius: 0;
  font-family: "Gilroy";
  font-size: 16px;
  line-height: 21px; }
  .input:focus {
    outline: none; }
  .input_theme_call-disinfector {
    padding: 17px 20px 17px 20px; }
  .input_theme_call-disinfector::-webkit-input-placeholder {
    color: #8C8C8C; }
  .input_theme_call-disinfector:-ms-input-placeholder {
    color: #8C8C8C; }
  .input_theme_call-disinfector::-ms-input-placeholder {
    color: #8C8C8C; }
  .input_theme_call-disinfector::placeholder {
    color: #8C8C8C; }

.link {
  font-family: "Gilroy";
  font-weight: 500;
  text-decoration: none; }

.link_theme_place {
  background: rgba(21, 119, 141, 0.9);
  color: #ffffff;
  text-transform: uppercase;
  padding: 15px 19px 16px 19px;
  max-width: 320px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  white-space: nowrap; }

.page {
  margin: 0;
  font-family: "Gilroy", sans-serif; }
  .page__header {
    min-height: 800px;
    background: url("../img/ground_1.png") top center no-repeat, #006A81;
    overflow: hidden;
    padding: 0 15px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .page__inner {
    max-width: 1469px;
    margin: 0 auto; }

.header__menu {
  padding: 16px 0 0 0; }

.header__offer {
  margin: 150px 0 0 0; }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.logo__img {
  height: 77px;
  width: 100%;
  display: block; }

.navbar__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.navbar__item {
  margin: 0 50px 0 0; }

.navbar__item:last-child {
  margin: 0 0 0 0; }

.navbar__link {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #FBFBFB;
  text-decoration: none; }

.feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 466px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.telephone__link {
  font-family: "Inter";
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  text-decoration: none;
  position: relative;
  padding: 0 0 0 24px; }

.telephone__link::before {
  content: "";
  height: 15px;
  width: 15px;
  background: url("../img/phone.svg");
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%); }

.offer {
  position: relative; }
  .offer__img {
    position: absolute;
    top: -165px;
    left: 731px;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    max-width: 790px; }
  .offer__list {
    margin: 30px 0 0 0; }
  .offer__button {
    margin: 45px 0 0 0; }

.benefits {
  list-style: none;
  padding: 0;
  margin: 0; }
  .benefits__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 0 20px 0; }
  .benefits__img {
    margin: 0 15px 0 0;
    width: 35px;
    height: 100%; }
  .benefits__text {
    font-family: "Gilroy";
    font-size: 25px;
    line-height: 32px;
    color: #EFEFEF;
    padding: 3px 0 0 0; }

.main__inner {
  max-width: 1469px;
  margin: 0 auto;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.main__topical {
  margin: 100px 0 0 0; }

.main__types-disinfection {
  margin: 100px 0 0 0; }

.main__choose-us {
  background: #F7F8FD;
  margin: 65px 0 0 0;
  padding: 100px 0 100px 0; }

.main__call-disinfector {
  background: #006A81;
  margin: 68px 0 0 0;
  position: relative; }

.main__call-disinfector::before {
  content: "";
  background: url("../img/ground_2.jpg") center top no-repeat;
  opacity: 0.2;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.main__where-spend {
  margin: 100px 0 0 0; }

.main__certificates {
  margin: 100px 0 0 0; }

.topical__content {
  margin: 34px 0 0 0; }

.actual-topical {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .actual-topical__box {
    max-width: 711px;
    position: relative; }
  .actual-topical__box:first-child > .actual-topical__description {
    padding: 25px 40px 25px 40px; }
  .actual-topical__img {
    max-width: 100%;
    display: block; }
  .actual-topical__description {
    padding: 18px 40px 18px 40px;
    background: #12748A;
    position: absolute;
    bottom: 0;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }

.types-disinfection__content {
  margin: 34px 0 0 0; }

.disinfection__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.disinfection__item {
  max-width: 23.95%;
  margin: 0 20px 0 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto; }

.disinfection__item:nth-child(4n) {
  margin: 0; }

.disinfection__img {
  max-width: 100%;
  display: block; }

.disinfection__title {
  margin: 20px 0 0 0; }

.choose-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .choose-us__title {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 37.595%;
            flex: 0 1 37.595%; }
  .choose-us__benefits {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 49.478%;
            flex: 0 1 49.478%; }

.benefits-company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .benefits-company__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 48.5%;
            flex: 0 1 48.5%;
    margin: 0 21px 25px 0; }
  .benefits-company__item:nth-child(2n) {
    margin-right: 0; }
  .benefits-company__item:nth-last-child(3) ~ .benefits-company__item {
    margin-bottom: 0; }
  .benefits-company__img {
    display: block;
    margin: 0 0 12px 0;
    width: 40px;
    height: 40px;
    -o-object-fit: contain;
       object-fit: contain; }
  .benefits-company__title {
    color: #000000; }
  .benefits-company__text {
    margin: 12px 0 0 0; }

.call-disinfector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  min-height: 517px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .call-disinfector__img {
    position: absolute;
    bottom: 0;
    left: 0; }
  .call-disinfector__form {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
    margin-top: 10px; }

.form-disinfector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 412px; }
  .form-disinfector__title {
    line-height: 39px;
    margin: 0 0 25px 0; }
  .form-disinfector__input {
    margin: 0 0 10px 0; }

.where-spend__title {
  margin: 0 0 20px 0; }

.where-spend__subtitle {
  text-align: center;
  margin: 0 0 35px 0; }

.places-cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  -ms-grid-rows: (310px)[4];
      grid-template-rows: repeat(4, 310px);
  -webkit-column-gap: 20px;
          column-gap: 20px;
  row-gap: 20px; }

.place-card {
  position: relative; }
  .place-card:nth-child(6n + 1) {
    grid-column: span 3; }
  .place-card:nth-child(6n + 2) {
    grid-column: span 2; }
  .place-card:nth-child(6n + 3) {
    grid-column: span 3; }
  .place-card:nth-child(6n + 4) {
    grid-column: span 4; }
  .place-card:nth-child(6n + 5) {
    grid-column: span 2; }
  .place-card:nth-child(6n + 6) {
    grid-column: span 2; }
  .place-card__img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center center;
       object-position: center center;
    display: block; }
  .place-card__link {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
/*# sourceMappingURL=style.css.map */